body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0f172a;
    color: #f8fafc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: #1e293b;
    padding: 2rem;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.input-group {
    margin: 1.5rem 0;
}

label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 5px;
    color: #94a3b8;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background: #334155;
    border: 1px solid #475569;
    border-radius: 6px;
    color: white;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 14px;
    background: #10b981;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover { background: #059669; }

#resultado {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.hidden { display: none; }
.favoravel { background: #064e3b; border: 1px solid #10b981; }
.perigo { background: #7f1d1d; border: 1px solid #ef4444; }



/*alterar aqui*/